/*laptop L*/

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Merriweather:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&family=Suez+One&display=swap');

/*Nav Bar*/
* {
box-sizing: border-box;
margin: 0;
padding: 0;
background-color: black;
color: white

}


li, a, button {
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: whitesmoke;
text-decoration: none;

}

header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: black; 
    z-index: 1000; 

  }
  
  nav {
   padding-right: 15px;
  }

  .cta {
    padding-right: 70px;
  }


.logo {
cursor: pointer;
margin-right: auto;
height: 9vh;
padding-left: 50px;
}

.logos{
cursor: pointer;
margin-right: auto;
height: 9vh;
}

.nav_links {
list-style: none;
}

.nav_links li {
display: inline-block;
padding: 0px 20px;
}

.nav_links li a {
transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
color: turquoise
}

button {
padding: 9px 25px;
background-color: turquoise;
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3 ease 0s;
}

button:hover {
background-color: lightseagreen
}

/*Hero*/
.hero {
    height: 71vh;
    position: relative;
  
    
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 2em;
    text-align: center;
}

.hero-content h2 {
    margin-bottom: 10px;
}

.hero-content p {
    margin-bottom: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 100px;
    font-size: 28px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: turquoise;
    color: #f2f2f2;
    width: fit-content;
}
button:hover{
    background-color: lightseagreen
}

.sign-up {
    background-color: black;
    color: white;
}

.sign-up:hover {
    background-color: black;
    color: turquoise;
}
.signup-button{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding: 0.5rem;
}

/*first-section */

.section1 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: white;
}

.section1-blok1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
}


.section1-blok2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 2rem;

}
.section1-images {
    display: flex;
    align-items: right;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top: 270px;
}

.section1-images img {
    width: 650px;
    height: 550px;
 
}

.section1-title-and-text {
    margin-top: 170px;
    margin-bottom: 20px;
    font-size: 24px;

}

.section1_links li{
    font-size: 24px;
}

/*seconde-section TODO*/

.section2-title{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.section2-blok2 {
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 10px;
    margin-bottom: 50px;
}

.section2-video{
    width: 500px;
    height: 500px;
}

.section2-video video{
   
  height: 500px;
  width: 500px;
  object-fit: cover;
}


.section2-article {
    
}

/*third-section TODO*/

.section3 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    color: white;
}

.section3-blok1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
}


.section3-blok2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 2rem;

}
.section3-images {
    display: flex;
    align-items: right;
    padding: 2rem;
    margin-bottom: 100px;
    margin-top: 170px;
}

.section3-images img {
    width: 650px;
    height: 550px;
 
}

.section3-title-and-text {
    margin-top: 170px;
    margin-bottom: 20px;
    font-size: 24px;

}

/*four sectionb workflow 4 row*/

.section4-blok1{

    text-align: center;
}

.section4-blok2{
    display: flex;
}
.section4-button-middle{
    margin-top: 40px;
    text-align: center;

}

/*five section review 3 row*/
.section5-blok1{
    margin-top: 200px;
    text-align: center;
}

.section5-blok2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*six section background video text extra*/

/*seven section blog*/

/*footer*/


/*Laptop L 1440px*/
@media screen and (max-width: 1440px) {
    

    @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Merriweather:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&family=Suez+One&display=swap');
    
    /*Nav Bar*/
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white
    }
    
    
    li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    
    }
    
    header {
        position: fixed; 
        top: 0; 
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px; 
        background-color: black; 
        z-index: 1000; 
    
      }
      
      nav {
       padding-right: 15px;
      }
    
      .cta {
        padding-right: 70px;
      }
    
    
    .logo {
    cursor: pointer;
    margin-right: auto;
    height: 9vh;
    padding-left: 50px;
    }
    
    .nav_links {
    list-style: none;
    }
    
    .nav_links li {
    display: inline-block;
    padding: 0px 20px;
    }
    
    .nav_links li a {
    transition: all 0.3 ease 0s;
    }
    
    .nav_links li a:hover {
    color: turquoise
    }
    
    button {
    padding: 9px 25px;
    background-color: turquoise;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    }
    
    button:hover {
    background-color: lightseagreen
    }
    
    /*Hero*/
    .hero {
        height: 71vh;
        position: relative;
        
        
    }
    
    .hero video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .hero-content {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        color: black;
        font-size: 2em;
        text-align: center;
    }
    
    .hero-content h2 {
        margin-bottom: 10px;
    }
    
    .hero-content p {
        margin-bottom: 20px;
    }
    
    .hero-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 100px;
        font-size: 28px;
    }
    
    button {
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        background-color: turquoise;
        color: #f2f2f2;
        width: fit-content;
    }
    button:hover{
        background-color: lightseagreen
    }
    
    .sign-up {
        background-color: black;
        color: white;
    }
    
    .sign-up:hover {
        background-color: black;
        color: turquoise;
    }
    .signup-button{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        padding: 0.5rem;
    }
    
    /*first-section TODO */
    
    .section1 {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        color: white;
    }
    
    .section1-blok1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 2rem;
      
    }
    
    
    .section1-blok2 {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 2rem;
    
    }
    .section1-images {
        display: flex;
        align-items: right;
        padding: 2rem;
        margin-bottom: 100px;
        margin-top: 270px;
    }
    
    .section1-images img {
        width: 650px;
        height: 550px;
     
    }
    
    .section1-title-and-text {
        margin-bottom: 25px;
    }
    
    };


/*Mobile  390px*/
@media screen and (max-width: 390px) {

};
